<div class="page-shell">

  <h1>Account Statement</h1>

  <div class="search-card">

    <div class="form-row">

      <!-- ACCOUNT NUMBER -->
      <div class="form-group account-field">
        <label>Account Number *</label>

        <input type="text" [(ngModel)]="accountNumber" placeholder="Enter account number" />
      </div>


      <!-- FROM DATE -->
      <div class="form-group date-field">
        <label>From Date</label>

        <input type="date" [(ngModel)]="fromDate" />
      </div>


      <!-- TO DATE -->
      <div class="form-group date-field">
        <label>To Date</label>

        <input type="date" [(ngModel)]="toDate" />
      </div>


      <!-- SEARCH -->
      <div class="button-group">

        <button type="button" class="btn-primary" (click)="search()" [disabled]="loading">
          {{ loading ? 'Searching...' : 'Search' }}
        </button>

      </div>


      <!-- CLEAR -->
      <div class="button-group">

        <button type="button" class="btn-secondary" (click)="clear()">
          Clear
        </button>

      </div>


      <!-- DOWNLOAD -->
      <div class="button-group">

        <button type="button" class="btn-download" (click)="downloadStatement()">
          ↓ Download Report
        </button>

      </div>

    </div>

  </div>


  <!-- RESULT CARD -->

  <div class="result-card">

    <h2>
      Records: {{ rows.length }}
    </h2>


    <p *ngIf="loading" class="loading-text">
      Loading...
    </p>


    <div class="table-wrapper" *ngIf="rows.length > 0">

      <table>

        <thead>

          <tr>

            <th>Transaction ID</th>

            <th>RRN</th>

            <th>Direction</th>

            <th>Sender</th>

            <th>Beneficiary</th>

            <th>Amount</th>

            <th>Status</th>

            <th>Date</th>

          </tr>

        </thead>


        <tbody>

          <tr *ngFor="let r of rows">

            <td>
              {{ r.transaction_id }}
            </td>


            <td>
              {{ r.rrn }}
            </td>


            <td>
              {{ r.direction }}
            </td>
            <td>
              <div class="remitter">
                <strong>{{ r.customer_name }}</strong>
                <span>{{ r.sender_account }}</span>
              </div>
            </td>

            <td>
              <div class="beneficiary-cell">
                <strong>{{ r.beneficiary_name }}</strong>
                <span>{{ r.beneficiary_account }}</span>
              </div>
            </td>

            <td>
              ₹ {{ r.amount }}
            </td>


            <td>
              {{ r.transaction_status }}
            </td>


            <td>
              {{ r.transaction_date | date:'dd-MM-yyyy' }}
            </td>

          </tr>

        </tbody>

      </table>

    </div>


    <p *ngIf="!loading && rows.length === 0" class="empty-text">
      No records found.
    </p>

  </div>

</div>