<div class="main-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar-area">
    <app-sidebar></app-sidebar>
  </aside>


  <!-- RIGHT SIDE -->
  <section class="main-area">

    <!-- HEADER -->
    <header class="header-area">
      <app-header></app-header>
    </header>


    <!-- PAGE CONTENT -->
    <main class="page-content">
      <router-outlet></router-outlet>
    </main>


    <!-- FOOTER -->
    <footer class="footer-area">
      <app-footer></app-footer>
    </footer>

  </section>

</div>